
    <header id="inicio">
        <H1>Hola bienvenido a SHOOP</H1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto est. Velit facilis</h2>
    </header>
    <main id="mainInicio">
        <div class="infNosotros">
            <h2>Sobre nosotros</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique magnam ad enim ipsa. Repellat non quisquam culpa, molestias laudantium voluptas?</p>
        </div>
        <div class="infNosotros-img">
            <img src="img/elem/merchantfinale.gif" alt="animacion de mercader">
        </div>
        <div class="dondeEstamos-img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52343.08435800229!2d-57.99436994200401!3d-34.920430869120864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62b1f0085a1%3A0xbcfc44f0547312e3!2sLa%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1702570661051!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="dondeEstamos">
            <h2>Donde estamos</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique magnam ad enim ipsa. Repellat non quisquam culpa, molestias laudantium voluptas?</p>
        </div>
    </main>
    <%- include(footer)%>
<script type="module" src="js/fluid/constrolMenu.js"></script>