<main id="mainProductos">
    <section class="mercado">
        <div class="mercado_cards">
            
        </div>
    </section>
    <script type="module" src="js/fluid/main.js"></script>
</main>