
<div class="sep order">
    <img class="logo" src="img/elem/logo.png" alt="hamburguer menu">
    <img class="menu-h" src="img/elem/hamburguer.png" alt="hamburguer menu"></ul>
    <nav class="nav">
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <div class="nav-log">
                <li><a href="/logout">Salir</a></li>
            </div>
    </nav>
</div>